h1 {
	font-family: 'Khand', sans-serif;
	text-align: center;
}
body {
	background-color: slategray;
}

/*body {
	background-image: url("http://www.dodge.com/assets/images/homepage/poster/All-Cars-Lineup-Sky.jpg");
}*/

/*#car-grid*/ .carCard {
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	display: inline-block;
	width: 30%;
	background-color: white;
}

.clicked {
	border: 5px dotted red;
}


.carPic {
	width: 100%;

}



.add-border {
	border: 15px solid black;
}

.add-background {
	background-color: slategray;
}